.bg-224598 {
  background-color: $color-224598;
}
.bg-585858{
  background-color: $color-585858;
}
.text-224598 {
  color: $color-224598;
}
.border-224598{
  border-color: $color-224598;
}

.font12 {
  font-size: $font12;
}
.font14 {
  font-size: $font14;
}
.font16 {
  font-size: $font16;
}
.font18 {
  font-size: $font18;
}
.font20 {
  font-size: $font20;
}
.font25 {
  font-size: $font25;
}
.font70 {
  font-size: $font70;
}
.font40 {
  font-size: $font40;
}
.font60{
  font-size: $font60;
}

.leading24 {
  line-height: $leading24;
}
.leading20 {
  line-height: $leading20;
}
.leading28 {
  line-height: $leading28;
}
.leading48 {
  line-height: $leading48;
}
.leading58 {
  line-height: $leading58;
}


.space-0_32 {
  letter-spacing: $space-0_32;
}
.space-0_48 {
  letter-spacing: $space-0_48;
}

.opacity6{
  opacity: $opacity6;
} 
.opacity20{
  opacity: $opacity20;
}
.radius50{
  border-radius: $radius50;
}

.radius5{
  border-radius: $radius5;
}
.radius20{
  border-radius: $radius20;
}
.radius23{
  border-radius: $radius23;
}

@include media-breakpoint-down(lg){

  .res-radius10{
    border-radius: $res-radius10;
  }
  
  .res-font12 {
    font-size: $font12;
  }
  .res-font14 {
    font-size: $font14;
  }
  .res-font16 {
    font-size: $font16;
  }
  .res-font18 {
    font-size: $font18;
  }
  .res-font20 {
    font-size: $font20;
  }
  .res-font25 {
    font-size: $font25;
  }
  .res-font70 {
    font-size: $font70;
  }
  .res-font40 {
    font-size: $font40;
  }
  .res-font22 {
    font-size: $res-font22;
  }
  .res-font50 {
    font-size: $res-font50;
  }
  .res-font30 {
    font-size: $res-font30;
  }
  
  
  
  .res-leading42{
    line-height:  $res-leading42;
  }
  .res-leading50{
    line-height:  $res-leading50;
  }
  .res-leading38{
    line-height:  $res-leading38;
  }
  .res-leading26{
    line-height:  $res-leading26;
  }
  .res-leading22{
    line-height:  $res-leading22;
  }
  .res-leading26{
    line-height:  $res-leading26;
  }
}