button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}


.btnA {
    height: 48px;
    padding-left: 42px;
    padding-right: 42px;
    transition: all 0.3s ease-in-out;

    &.bg-224598-btn {
        background-color: $color-224598;
        color: $white;

        &:hover {
            background-color: $white;
            color: $color-224598;
        }
    }

      &.bg-ffffff-btn {
        background-color: $white;
        color:  $color-224598;

        &:hover {
            background-color:  $color-224598;
            color: $white;
        }
    }
}